<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="c_viewport" content="width=device-width, initial-scale=1.0">
    <meta name="c_description" content="Tela de Cadastro" />
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='cadastro.css') }}"> -->
    <link rel="stylesheet" href="cadastro.css" type="text/css">
    <title>Tela de Cadastro</title>
</head>

<body>
    <div class="cadastro-container">
        <div class="cartao-cadastro">
            
            <div class="cabecalho-cartao">
                <h1>Criar conta</h1>
                <p>Preencha os campos abaixo para se cadastrar</p>
            </div>

                <form id="formCadastro" class="formulario-cadastro" autocomplete="off" method="POST">

                    <div class="item-formulario">
                        <label for="c_usuario">Nome de usuário</label>
                        <input type="text" id="c_usuario" name="c_usuario" placeholder="ex: JoaoSilva25" required>
                    </div>

                    <div class="item-formulario">
                        <label for="c_email">E-mail</label>
                        <input type="email" id="c_email" name="c_email" placeholder="seu-email@gmail.com" required>
                    </div>

                    <div class="item-formulario">
                        <label for="c_senha">Senha</label>
                        <input type="password" id="c_senha" name="c_senha" placeholder="••••••••" required>
                    </div>

                    <!-- Campos em Linha: Ala e Casa (CEU) -->
                    <div class="itens-linha">

                        <div class="item-formulario">
                            <label for="c_quarto">Quarto</label>
                            <input type="number" id="c_quarto" name="c_quarto" placeholder="ex: 102" required>
                        </div>
                        

                        <div class="item-formulario">
                            <label for="c_casa">Casa (CEU)</label>
                            <select id="c_casa" name="c_casa" required>
                                <option value="" disabled selected>Selecione</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-criarConta" id="c_criarConta">
                        Criar conta
                    </button>

                </form>

        </div>
    </div>
</body>

</html>