<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tela de Cadastro" />
    <link rel="stylesheet" href="{{ url_for('static', filename='painelGestor.css') }}">
    <!-- <link rel="stylesheet" href="painelGestor.css" type="text/css"> -->
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <title>Portal do Gestor</title>
</head>

<body>

    <header class="header-painel">
        <div class="info-usuario">
            <span class="greeting">Olá, <strong>{{ nome_usuario }}</strong></span>
            <span class="separador">|</span>
            <a href="{{ url_for('logout') }}" class="logout-link">Sair</a>
        </div>
    </header>

    <section id="sectionGestor" class="section-gestor">

        <header class="cabecalho-section">
            <h1>Portal do Gestor</h1>
        </header>

        <div class="cartao-gestor">
            <div class="container-filtros">

                <div class="item-filtro">
                    <label for="filtro-ceu">Filtrar por Casa (CEU)</label>
                    <select id="filtro-ceu" class="filtro-select">
                        <option value="filtro-todas-casas">Todas as Casas</option>
                    </select>
                </div>

                <div class="item-filtro">
                    <label for="filtro-categoria">Filtrar por Categoria</label>
                    <select id="filtro-categoria" class="filtro-select">
                        <option value="filtro-todas-categoria">Todas as Categorias</option>
                    </select>
                </div>

                <div class="item-filtro">
                    <label for="filtro-ordenar-por">Ordenar por</label>
                    <select id="filtro-ordenar-por" class="filtro-select">
                        <option value="filtro-recentes">Mais Recentes</option>
                        <option value="filtro-status">Status</option>
                    </select>
                </div>
            </div>

        </div>

        <!-- LISTA DE PEDIDOS DOS MORADORES (CARD) -->
        {% if pedidos %}
            {% for pedido in pedidos %}
            <div class="pedidos-gestor">

                <div class="pedido-categoria-tag">
                    <span class="pedido-categoria-texto">{{ pedido.categoria }}</span>
                </div>

                <p class="pedido-descricao-texto">{{ pedido.descricao }}</p>

                <div class="pedido-local-container">
                    <p class="pedido-local-texto">Local: {{ pedido.local }}</p>
                    <p class="pedido-local-detalhes">
                        <span>{% if pedido.casa %} • Casa: {{ pedido.casa }} {% endif %}</span>
                        <span>{% if pedido.quarto %}• Quarto: {{ pedido.quarto }} {% endif %}</span>
                        <span>{% if pedido.ala %} • Ala: {{ pedido.ala }} {% endif %}</span>
                    </p>
                </div>

                <!-- {% if pedido.quarto %} • Quarto: {{ pedido.quarto }} {% endif %} -->

                <div class="separador-bottom"></div>

                <div class="container-metadados">
                    <p>Criado em: {{ pedido.data_criacao }}</p>
                    <p>Morador: user_342333</p>
                    <p>ID: pedido_17512</p>
                </div>

                <div class="separador-top"></div>
                
                <!-- oculto por enquanto -->
                <div style="display: none;" class="container-imagem">
                    <img class="imagem-pedido" src="" alt="Foto do problema">
                </div>

                <div style="display: none;" class="container-comentarios-feitos">
                    <h4>Comentários:</h4>
                    <div class="texto-comentarios-feitos"></div>
                </div>
                <!--  -->

                <div class="container-atualizar-pedido">
                    <div class="secao-interacao-pedido">

                        <div class="container-comentarios">
                            <label class="label-pedidos">Adicionar Comentário</label>
                            <textarea class="textarea-comentario" rows="1" placeholder="Adicionar comentário"></textarea>
                            <!-- <textarea class="textaea-comentario" placeholder="Adicionar comentário (Ex: ID do sistema FURG: 12345)"></textarea> -->
                        </div>

                        
                        <div class="container-selects">
                            <label class="label-pedidos">Status</label>
                            <select class="select-status">
                                <option value="Aberto">Aberto</option>
                                <option value="Em-analise">Em análise</option>
                                <option value="Aguardando-execucao">Aguardando execução</option>
                                <option value="Aguardando-peca">Aguardando peça</option>
                                <option value="Concluido">Concluído</option>
                                <option value="Cancelado">Cancelado</option>
                            </select>
                            
                        </div>

                        <div class="container-tag-status">
                            <span class="tag-status">{{  pedido.status }}</span>
                        </div>

                    </div>

                    <button class="btn-atualizar-pedido">
                        Atualizar Pedido
                    </button>

                </div>
            </div>
            {% endfor %}
        {% else %}
            <div id="text_semPedidos" class="text_sem-pedidos">
                <p>Nenhum pedido encontrado.</p>
            </div>
        {% endif %}

    </section>

    

</body>

</html>
